jupyter
jupyterlab
ipykernel

tensorflow #<2.11 for gpu
numpy
matplotlib
#torch
#torchvision

fiftyone # for downloading images

fastapi
uvicorn
Pillow
python-multipart


# opencv-python
# matplotlib
# openimages

# torch
# torchvision

# scikit-learn
# seaborn

# fastapi
# uvicorn
# Pillow

# python-multipart